## Intial data stab...

In [1]:
import pandas as pd
import csv

In [2]:
#create a dataframe from each excel sheet.

filepath = "Data Files/Cleaned Files/Copy of mort_cleaned.xlsx"

xls = pd.ExcelFile(filepath)
df_HIV_AIDS_tuberculosis = pd.read_excel(xls, 'HIV-AIDS & tuberculosis')
#df_Diarrhea_lower_respiratory = pd.read_excel(xls,'Diarrhea, lower respiratory')
#df_Neglected_tropical_diseases = pd.read_excel(xls,'Neglected tropical diseases')
df_Maternal_disorders = pd.read_excel(xls,'Maternal disorders')
df_Neonatal_disorders = pd.read_excel(xls,'Neonatal disorders')
df_Nutritional_deficiencies = pd.read_excel(xls, 'Nutritional deficiencies')
#df_Other_communicable_maternal  = pd.read_excel(xls,'Other communicable_maternal')
#df_Neoplasms = pd.read_excel(xls,'Neoplasms')
df_Cardiovascular_diseases = pd.read_excel(xls,'Cardiovascular diseases')
#df_Chronic_respiratory_diseases = pd.read_excel(xls,'Chronic respiratory diseases')
df_Cirrhosis_other_chronic  = pd.read_excel(xls,'Cirrhosis & other chronic ')
#df_Digestive_diseases = pd.read_excel(xls, 'Digestive diseases')
df_Neurological_disorders  = pd.read_excel(xls,'Neurological disorders')
df_Mental_substance_use  = pd.read_excel(xls,'Mental & substance use ')
df_Diabetes_urogenital_blood = pd.read_excel(xls,'Diabetes_urogenital_blood')
#df_Musculoskeletal_disorders = pd.read_excel(xls,'Musculoskeletal disorders')
#df_Other_non_communicable   = pd.read_excel(xls,'Other non-communicable ')
df_Transport_injuries = pd.read_excel(xls, 'Transport injuries')
df_Unintentional_injuries  = pd.read_excel(xls,'Unintentional injuries')
df_Self_harm_interpersonal   = pd.read_excel(xls,'Self-harm & interpersonal ')
#df_Forces_of_nature_war_legal  = pd.read_excel(xls,'Forces of nature, war, & legal ')

In [3]:
filepath2 = "Data Files/Cleaned Files/NIH Data Alcohol Consumption.csv"
filepath3 = "Data Files/Cleaned Files/NIH Data FIPS.csv"
filepath4 = "Data Files/Cleaned Files/NIH Beverage Codes.csv"

df_nih = pd.read_csv(filepath2)
df_beverage_codes = pd.read_csv(filepath4)
df_fips_codes = pd.read_csv(filepath3)

In [4]:
df_nih.head()

,Year,FIPS,Type of beverage,Gallons of beverage,Gallons of ethanol,Population (14 and older),Gallons of ethanol per capita age 14 and older,Decile for per capita consumption age 14 and older,Population (21 and older),Gallons of ethanol per capita age 21 and older,Decile for per capita consumption age 21 and older,Type of data source,Time-varying alcohol by volume (ABV),Gallons of ethanol derived from time-varying ABV
0,1970,1,1,3863000,1738350,2499000,6956,9.0,2020000,8606,9.0,.,.,.
1,1970,1,2,1412000,225920,2499000,904,9.0,2020000,1118,9.0,.,.,.
2,1970,1,3,33098000,1489410,2499000,5960,10.0,2020000,7373,10.0,.,.,.
3,1970,1,4,.,3453680,2499000,13820,10.0,2020000,17097,10.0,.,.,.
4,1970,2,1,945000,425250,205000,20744,1.0,165000,25773,1.0,.,.,.

In [5]:
df_nih_merged = pd.merge(df_nih, df_beverage_codes, how="left", left_on = 'Type of beverage', right_on = 'Beverage ID')
df_nih_merged = pd.merge(df_nih_merged, df_fips_codes, how="left", left_on = 'FIPS', right_on = 'FIPS')

In [6]:
df_nih_merged.head()

,Year,FIPS,Type of beverage,Gallons of beverage,Gallons of ethanol,Population (14 and older),Gallons of ethanol per capita age 14 and older,Decile for per capita consumption age 14 and older,Population (21 and older),Gallons of ethanol per capita age 21 and older,Decile for per capita consumption age 21 and older,Type of data source,Time-varying alcohol by volume (ABV),Gallons of ethanol derived from time-varying ABV,Beverage ID,Beverage Type,State
0,1970,1,1,3863000,1738350,2499000,6956,9.0,2020000,8606,9.0,.,.,.,1,Spirits,Alabama
1,1970,1,2,1412000,225920,2499000,904,9.0,2020000,1118,9.0,.,.,.,2,Wine,Alabama
2,1970,1,3,33098000,1489410,2499000,5960,10.0,2020000,7373,10.0,.,.,.,3,Beer,Alabama
3,1970,1,4,.,3453680,2499000,13820,10.0,2020000,17097,10.0,.,.,.,4,All Beverages,Alabama
4,1970,2,1,945000,425250,205000,20744,1.0,165000,25773,1.0,.,.,.,1,Spirits,Alaska

In [7]:
# Create subsets for year

nih_1980 = df_nih_merged.loc[(df_nih_merged['Year'] == 1980) & (df_nih_merged['FIPS'] < 60)]
nih_1985 = df_nih_merged.loc[(df_nih_merged['Year'] == 1985) & (df_nih_merged['FIPS'] < 60)]
nih_1990 = df_nih_merged.loc[(df_nih_merged['Year'] == 1990) & (df_nih_merged['FIPS'] < 60)]
nih_1995 = df_nih_merged.loc[(df_nih_merged['Year'] == 1995) & (df_nih_merged['FIPS'] < 60)]
nih_2000 = df_nih_merged.loc[(df_nih_merged['Year'] == 2000) & (df_nih_merged['FIPS'] < 60)]
nih_2005 = df_nih_merged.loc[(df_nih_merged['Year'] == 2005) & (df_nih_merged['FIPS'] < 60)]
nih_2010 = df_nih_merged.loc[(df_nih_merged['Year'] == 2010) & (df_nih_merged['FIPS'] < 60)]
nih_2014 = df_nih_merged.loc[(df_nih_merged['Year'] == 2014) & (df_nih_merged['FIPS'] < 60)]

In [8]:
# Get States Data from Substance Abuse DataFrame
df_states_mental_substance_use = df_Mental_substance_use.loc[df_Mental_substance_use['FIPS'] < 60]

In [9]:
df_states_mental_substance_use.head()

,Location,FIPS,"Mortality Rate, 1980*","Mortality Rate, 1985*","Mortality Rate, 1990*","Mortality Rate, 1995*","Mortality Rate, 2000*","Mortality Rate, 2005*","Mortality Rate, 2010*","Mortality Rate, 2014*","% Change in Mortality Rate, 1980-2014"
1,Alabama,1.0,"3.85 (3.53, 4.23)","4.06 (3.78, 4.44)","4.55 (4.29, 4.85)","5.22 (4.91, 5.52)","6.72 (6.39, 7.09)","9.77 (9.33, 10.21)","12.34 (11.76, 12.89)","14.33 (13.53, 15.03)","272.34 (229.73, 311.29)"
69,Alaska,2.0,"12.45 (11.02, 14.16)","10.96 (9.79, 12.37)","12.04 (10.84, 13.42)","12.74 (11.61, 14.05)","16.04 (14.76, 17.52)","20.08 (18.65, 21.58)","20.92 (19.41, 22.55)","21.98 (20.38, 23.71)","76.49 (50.92, 102.50)"
99,Arizona,4.0,"6.80 (6.16, 7.51)","6.98 (6.48, 7.57)","7.87 (7.32, 8.45)","9.56 (9.03, 10.12)","11.83 (11.28, 12.44)","14.66 (14.05, 15.28)","17.72 (17.07, 18.44)","17.17 (16.34, 17.90)","152.36 (122.26, 180.55)"
115,Arkansas,5.0,"2.36 (2.14, 2.61)","2.46 (2.28, 2.70)","3.00 (2.81, 3.23)","3.71 (3.49, 3.97)","4.92 (4.66, 5.20)","7.82 (7.45, 8.21)","10.15 (9.66, 10.71)","10.99 (10.34, 11.62)","366.61 (312.10, 422.14)"
191,California,6.0,"6.48 (6.12, 6.91)","7.64 (7.32, 8.09)","7.51 (7.24, 7.85)","8.32 (8.04, 8.63)","8.78 (8.48, 9.08)","11.39 (11.05, 11.76)","11.72 (11.30, 12.12)","11.35 (10.73, 11.82)","75.26 (58.86, 87.50)"

In [10]:
# Create new dataframe for 1980 substance abuse

nih_1980_merged_substance = pd.merge(nih_1980, df_states_mental_substance_use, how = 'left', left_on = 'State', right_on = 'Location' )
nih_1985_merged_substance = pd.merge(nih_1985, df_states_mental_substance_use, how = 'left', left_on = 'State', right_on = 'Location' )
nih_1990_merged_substance = pd.merge(nih_1990, df_states_mental_substance_use, how = 'left', left_on = 'State', right_on = 'Location' )
nih_1995_merged_substance = pd.merge(nih_1995, df_states_mental_substance_use, how = 'left', left_on = 'State', right_on = 'Location' )
nih_2000_merged_substance = pd.merge(nih_2000, df_states_mental_substance_use, how = 'left', left_on = 'State', right_on = 'Location' )
nih_2005_merged_substance = pd.merge(nih_2005, df_states_mental_substance_use, how = 'left', left_on = 'State', right_on = 'Location' )
nih_2010_merged_substance = pd.merge(nih_2010, df_states_mental_substance_use, how = 'left', left_on = 'State', right_on = 'Location' )
nih_2014_merged_substance = pd.merge(nih_2014, df_states_mental_substance_use, how = 'left', left_on = 'State', right_on = 'Location' )

In [11]:
# Grab only needed columns (don't forget to change year number in Mortality Rate column)
nih_1980_merged_substance = nih_1980_merged_substance[['Year','FIPS_x','Type of beverage', 'Gallons of ethanol per capita age 21 and older','Mortality Rate, 1980*','Location']]
nih_1985_merged_substance = nih_1985_merged_substance[['Year','FIPS_x','Type of beverage', 'Gallons of ethanol per capita age 21 and older','Mortality Rate, 1985*','Location']]
nih_1990_merged_substance = nih_1990_merged_substance[['Year','FIPS_x','Type of beverage', 'Gallons of ethanol per capita age 21 and older','Mortality Rate, 1990*','Location']]
nih_1995_merged_substance = nih_1995_merged_substance[['Year','FIPS_x','Type of beverage', 'Gallons of ethanol per capita age 21 and older','Mortality Rate, 1995*','Location']]
nih_2000_merged_substance = nih_2000_merged_substance[['Year','FIPS_x','Type of beverage', 'Gallons of ethanol per capita age 21 and older','Mortality Rate, 2000*','Location']]
nih_2005_merged_substance = nih_2005_merged_substance[['Year','FIPS_x','Type of beverage', 'Gallons of ethanol per capita age 21 and older','Mortality Rate, 2005*','Location']]
nih_2010_merged_substance = nih_2010_merged_substance[['Year','FIPS_x','Type of beverage', 'Gallons of ethanol per capita age 21 and older','Mortality Rate, 2010*','Location']]
nih_2014_merged_substance = nih_2014_merged_substance[['Year','FIPS_x','Type of beverage', 'Gallons of ethanol per capita age 21 and older','Mortality Rate, 2014*','Location']]

In [12]:
# Rename Mortality Rate column
nih_1980_merged_substance.rename(columns={"Mortality Rate, 1980*": "Mortality Rate"}, inplace = True)
nih_1985_merged_substance.rename(columns={"Mortality Rate, 1985*": "Mortality Rate"}, inplace = True)
nih_1990_merged_substance.rename(columns={"Mortality Rate, 1990*": "Mortality Rate"}, inplace = True)
nih_1995_merged_substance.rename(columns={"Mortality Rate, 1995*": "Mortality Rate"}, inplace = True)
nih_2000_merged_substance.rename(columns={"Mortality Rate, 2000*": "Mortality Rate"}, inplace = True)
nih_2005_merged_substance.rename(columns={"Mortality Rate, 2005*": "Mortality Rate"}, inplace = True)
nih_2010_merged_substance.rename(columns={"Mortality Rate, 2010*": "Mortality Rate"}, inplace = True)
nih_2014_merged_substance.rename(columns={"Mortality Rate, 2014*": "Mortality Rate"}, inplace = True)

In [13]:
# Concatenate all year dataframes
frames_substance = [nih_1980_merged_substance, 
                    nih_1985_merged_substance,
                    nih_1990_merged_substance,
                    nih_1995_merged_substance,
                    nih_2000_merged_substance,
                    nih_2005_merged_substance,
                    nih_2010_merged_substance,
                    nih_2014_merged_substance]

df_concat_substance = pd.concat(frames_substance)

df_concat_substance

,Year,FIPS_x,Type of beverage,Gallons of ethanol per capita age 21 and older,Mortality Rate,Location
0,1980,1,1,8959,"3.85 (3.53, 4.23)",Alabama
1,1980,1,2,1960,"3.85 (3.53, 4.23)",Alabama
2,1980,1,3,11504,"3.85 (3.53, 4.23)",Alabama
3,1980,1,4,22423,"3.85 (3.53, 4.23)",Alabama
4,1980,2,1,20345,"12.45 (11.02, 14.16)",Alaska
...,...,...,...,...,...,...
199,2014,55,4,33634,"12.67 (12.03, 13.26)",Wisconsin
200,2014,56,1,13061,"16.21 (15.08, 17.43)",Wyoming
201,2014,56,2,3460,"16.21 (15.08, 17.43)",Wyoming
202,2014,56,3,14129,"16.21 (15.08, 17.43)",Wyoming
203,2014,56,4,30649,"16.21 (15.08, 17.43)",Wyoming